.shower {
	--slide-ratio: calc(16 / 9);
	--token-at-rule: #00ac4d;
	--token-selector: #9e54ff;
	--token-property: #f04;
	--token-sass-str: #df1144;
	--token-sass-fn: #900;
	--token-sass-var: #066;
	--token-sass-comment: #656556;
	--text-primary: black;
	--text-invert: white;
	--color-blue: #3c98f5;
	--color-yellow: rgba(119, 214, 255, 0.22);
	--color-fill: #656c7652;
}

.slide {
	color: var(--text-invert);
	background-color: var(--text-primary);

	& li,
	& li::before,
	h2 {
		color: var(--text-invert);
	}

	pre code:not(:only-child)::before {
		color: #797c82;
	}
}

mark {
	--token-at-rule: #00d05d;

	color: inherit;
}

.slide--first {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.highlight {
	position: absolute;
	background: rgba(119, 214, 255, 0.3);
	border: 1px dashed #308FFF;
}

.slide--first.slide--first h2 {
	font-size: 85px;
}

.slide--first .cover {
	max-width: none;
	max-height: none;
	width: 165%;
}

#cover {
	background: url("pictures/cover-new-bg.png") no-repeat center center;
	background-size: contain;
	padding: 40px 60px 135px;
	display: flex;
}

#cover div {
	display: flex;
  flex-direction: column;
  width: 100%;
}

#cover h2 {
	margin: 0;
	font-size: 90px;
	font-weight: 700;
}

#cover p {
	margin: 0 0 5px !important;
	line-height: 1.5;
	font-size: 34px;
}

h3 {
	margin-bottom: 0.83em;
	color: #585a5e;
	font: 700 36px/1 PT Sans Narrow,sans-serif;
}

.slide--no-number::after {
	visibility: hidden;
}

.D-f {
	display: flex;
}

.Ai-fe {
	align-items: flex-end;
}

.Ai-fs {
	align-items: flex-start;
}

.D-g {
	display: grid;
}

.Gap2r {
	gap: 2rem;
}

.Gtc-t2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.Jc-sb {
	justify-content: space-between;
}

.images-list {
	display: flex;
	gap: 60px;
	margin-top: 3rem;
	align-items: center;
	justify-content: center;
}

.slide .images-list li {
	text-indent: 0px;
}

.slide .images-list.images-list li::before {
	content: none;
	padding: 0px;
}

.Va {
	vertical-align: middle;
}

.Jc-c {
	justify-content: center;
}

.Ai-c {
	align-items: center;
}

.code-with-score {
	display: flex;
	align-items: center;
	gap: 16px;
}

.code-with-score i {
	font-size: 36px;
	font-style: normal;
}

.slide .pros-cons-list > li:lang(ru)::before {
	font-weight: bold;
	opacity: 1;
}

.decor-list li::before {
	opacity: 1;
}

.whether-layout {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}
